.students {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px;

    & > :not(:last-child):not(:first-child) {
        border-bottom: 1px solid black;
    }
}

.student-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 8px;
    justify-content: space-between;

    & .student-info {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }
}

.controls {
    display: flex;
    gap: 5px;
    
    & button {
        min-width: 60px;
        height: 25px;
    }
}
