<div class="students">
    <div class="student-header-container">
        <div class="controls">
            <button class="add-button" matTooltip="Add Student" matTooltipPosition="below" matTooltipShowDelay="1000" (click)="addNewStudent()">
                <mat-icon aria-hidden="false" aria-label="Add Student" fontIcon="add"/>
            </button>
        </div>
        <div class="student-header">Students</div>
    </div>
    @for(s of students; track $index) {
        <div class="student-card">
            <div class="student-info">
                <label>Name:</label>
                <span>{{s.firstName}} {{s.lastName}}</span>
            </div>
            <div class="controls">
                 <a class="icon edit-button" matTooltip="Edit Student" matTooltipPosition="above" matTooltipShowDelay="1000"   (click)="editStudent(s.id ?? -1)">
                    <mat-icon aria-hidden="false" aria-label="Edit Student" fontIcon="edit"/>
                </a>
                <a class="icon delete-button" matTooltip="Delete Student" matTooltipPosition="above" matTooltipShowDelay="1000"  (click)="deletePressed(s.id ?? -1)">
                    <mat-icon aria-hidden="false" aria-label="Delete Student" fontIcon="delete_forever"/>
                </a>
            </div>
        </div>
    }
    @if(showConfirmation) {
        <app-confirmation-modal (response)="handleModalResponse($event)">
            <div>
                <span>{{"Are you sure you want to delete student: "}}</span>
                <span><strong>{{getDeleteStudent()}}</strong></span>
            </div>
        </app-confirmation-modal>
    }
</div>
