<div class="students">
    <div class="controls">
        <button (click)="addNewStudent()">Add New</button>
    </div>
    @for(s of students; track $index) {
        <div class="student-card">
            <div class="student-info">
                <label>Name:</label>
                <span>{{s.firstName}} {{s.lastName}}</span>
            </div>
            <div class="controls">
                <button (click)="editStudent(s.id ?? -1)" class="edit-button">Edit</button>
                <button (click)="deletePressed(s.id ?? -1)" class="delete-button">Delete</button>
            </div>
        </div>
    }
    @if(showConfirmation) {
        <app-confirmation-modal (response)="handleModalResponse($event)">
            <div>
                <span>{{"Are you sure you want to delete student: "}}</span>
                <span><strong>{{getDeleteStudent()}}</strong></span>
            </div>
        </app-confirmation-modal>
    }
</div>
