<form class="student-form" [formGroup]="studentForm" (ngSubmit)="onSubmit()"> 
    <div class="form-header">{{ isEditMode ? 'Edit' : 'Create'}} Student</div>
    <div class="form-inputs">
        @if(errorMessage) {
            <div class="error">{{ errorMessage }}</div>
        }
        <div class="form-input">
          <label>First Name:</label>
          <input formControlName="firstName" trimLeadingWhitespace />
          @if(studentForm.get('firstName')?.hasError('whitespaceError')) {
            <div class="error">First Name cannot be empty!</div>
          } @else if(studentForm.get('firstName')?.invalid && studentForm.get('firstName')?.touched) { 
              <div class="error">
                First Name is required.
              </div>
          }
        </div>
    
        <div class="form-input">
            <label>Last Name:</label>
            <input formControlName="lastName" trimLeadingWhitespace />
            @if(studentForm.get('lastName')?.hasError('whitespaceError')) {
              <div class="error">Last Name cannot be empty!</div>
            } @else if(studentForm.get('lastName')?.invalid && studentForm.get('lastName')?.touched) { 
                <div class="error">
                  Last Name is required.
                </div>
            }
        </div>
    </div>
    
    <div class="form-control-buttons">
        <button type="submit" [disabled]="studentForm.invalid || studentForm.pristine">
          {{ isEditMode ? 'Update' : 'Add' }} Student
        </button>
        <button type="button" (click)="resetForm()" [disabled]="studentForm.pristine">Reset</button>
        <button type="button" (click)="cancelForm()">Cancel</button>
    </div>
</form>