.tab-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 5px;
    background-color: white;

    & .tabs {
        display: flex;
        gap: 1px;
        
        & :not(:last-child) {
            border-right: 1px solid black;
        }
    }

    & .tab {
        padding: 8px;
        min-width: 80px;
        text-align: center;
        background: #eeeeee;
        user-select: none;

        &:hover {
            background-color: #bababa;
        }
    }

    & .tab-selected {
        background-color: #bababa;
    }
}