.tab-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 5px;

    & .tabs {
        display: flex;
        gap: 1px;
        padding: 0;
        margin: 0;
        
        & :not(:last-child) {
            border-right: 1px solid rgb(156, 156, 156);
        }
    }

    & .tab {
        padding: 8px;
        min-width: 80px;
        text-align: center;
        background: #e5e5e5;
        user-select: none;

        &:hover {
            transition: 200ms ease-in background-color, 200ms ease-in color;
            background-color: #a1a1a1;
        }
    }

    & .tab-selected {
        background-color: #6d6d6d;
        color: white;
    }

    & .tab-content {
        border: 1px solid #6d6d6d;
        border-radius: 3px;
        background-color: white;
    }
}