<div class="courses">
  <div class="controls">
    <button class="add-button" matTooltip="Add Course" matTooltipPosition="below" matTooltipShowDelay="1000" (click)="addNewCourse()">
      <mat-icon aria-hidden="false" aria-label="Add Course" fontIcon="add"/>
    </button>
  </div>
  @for(c of courses; track $index) {
      <div class="courses-card">
        <div class="courses-info">
          <span>{{c.courseNumber}}</span>
          <span>{{c.courseName}}</span>
        </div>
        <div class="controls">
          <a class="icon edit-button" matTooltip="Edit Course" matTooltipPosition="above" matTooltipShowDelay="1000" (click)="editCourse(c.id ?? -1)">
            <mat-icon aria-hidden="false" aria-label="Edit Course" fontIcon="edit"/>
          </a>
          <a class="icon delete-button" matTooltip="Delete Course" matTooltipPosition="above" matTooltipShowDelay="1000" (click)="handleDeletePressed(c.id ?? -1)" >
              <mat-icon aria-hidden="false" aria-label="Delete Course" fontIcon="delete_forever"/>
          </a>
        </div>
      </div>
  }
  @if(showConfirmation) {
    <app-confirmation-modal (response)="handleConfirmResponse($event)">
        <div>
            <span>{{"Are you sure you want to delete course: "}}</span>
            <span><strong>{{getDeleteCourse()}}</strong></span>
        </div>
    </app-confirmation-modal>
  }
</div>
