<div class="courses">
  <div class="controls">
    <button (click)="addNewCourse()">Add New</button>
  </div>
  @for(c of courses; track $index) {
      <div class="courses-card">
        <div class="courses-info">
          <span>{{c.courseNumber}}</span>
          <span>{{c.courseName}}</span>
        </div>
        <div class="controls">
          <button (click)="editCourse(c.id ?? -1)" class="edit-button">Edit</button>
          <button (click)="handleDeletePressed(c.id ?? -1)" class="delete-button">Delete</button>
        </div>
      </div>
  }
  @if(showConfirmation) {
    <app-confirmation-modal (response)="handleConfirmResponse($event)">
        <div>
            <span>{{"Are you sure you want to delete course: "}}</span>
            <span><strong>{{getDeleteCourse()}}</strong></span>
        </div>
    </app-confirmation-modal>
  }
</div>
