<form class="student-course-form" [formGroup]="studentCourseForm" (ngSubmit)="onSubmit()"> 
    <div class="form-header">Register Student Course</div>
    <div class="form-inputs">
        @if(errorMessage) {
            <div class="error">{{ errorMessage }}</div>
        }
        <div>
            <label>Student:</label>
            <select formControlName="student" >
                @for(student of students; track student.id) {
                    <option value="{{student.id}}">{{student.firstName}} {{student.lastName}}</option>
                }
            </select>
          @if(studentCourseForm.get('student')?.invalid && studentCourseForm.get('student')?.touched) { 
              <div class="error">Student is required.</div>
          }
        </div>
    
        <div>
            <label>Course:</label>
            <select formControlName="course" multiple >
                @for(course of filterStudentCourses(); track course.id) {
                    <option value="{{course.id}}">[{{course.courseNumber}}] {{course.courseName}}</option>
                }
            </select>
            @if(studentCourseForm.get('course')?.invalid && studentCourseForm.get('course')?.touched) { 
                <div class="error">Course selection is required.</div>
            }
        </div>
    </div>
    
    <div class="form-control-buttons">
        <button type="submit" [disabled]="studentCourseForm.invalid">
          Register Course
        </button>
        <button type="button" (click)="cancelForm()">Cancel</button>
    </div>
</form>