.students-courses {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px;
    
    & > :not(:last-child):not(:first-child) {
        border-bottom: 1px solid black;
    }
}

.student-card {
    display: flex;
    flex-direction: column;
    padding: 8px;

    & .student-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .student-name {
            display: flex;
            flex-direction: row;
            gap: 5px;
            
            & label {
                font-weight: bold;
            }
        }

        & .student-controls {
            align-items: center;
        }
    }

    & .course-info {
        display: flex;
        flex-direction: column;
        
        & .course-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        & .course {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
    }

    & h4 {
        margin: 0;
        text-decoration: underline;
    }
}

.delete-button {
    height: 25px;
}

.controls {
    display: flex;
    gap: 5px;
    
    & .add-button {
        background-color: rgb(241, 241, 241);
        transition: 200ms ease-in-out background-color;
        border: 0.5px solid black;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
            background-color: rgb(83, 251, 150);
        }
    }
}

.unregister-course-button {
    transition: 150ms ease-in-out color;
    height: 25px;
    width: 25px;
    
    &:hover {
        cursor: pointer;
        color: red;
    }
}

mat-icon {
    font-size: 25px;
}

.confirmation-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}