<div class="students-courses">
    <div class="registration-header-container">
        <div class="controls">
            <button class="add-button" (click)="registerStudentCourse()" matTooltip="Register Student Course" matTooltipPosition="below" matTooltipShowDelay="1000" >
                <mat-icon aria-hidden="false" aria-label="Register Student Course" fontIcon="add"/>
            </button>
        </div>
        <div class="registration-header">Student Registration</div>
    </div>
    @for(sc of getCoursesByStudent(studentCourses); track sc.student.id) {
        <div class="student-card">
            <div class="student-info">
                <div class="student-name">
                    <label>Student:</label>
                    <span>{{sc.student.firstName}} {{sc.student.lastName}}</span>
                </div>
                <div class="student-controls">
                    <button (click)="handleUnregisterStudentPress(sc.student.id ?? -1)" class="delete-button">Unregister All</button>
                </div>
            </div>
            @if(sc.courses.length > 0) {
                <div class="course-info">
                    <h4>Courses</h4>
                    <div class="course-list">
                        @for(course of sc.courses; track course.id) {
                            <div class="course">
                                <div class="course-name">
                                    [{{course.courseNumber}}] - {{course.courseName}}
                                </div>
                                <a class="icon unregister-course-button" matTooltip="Unregister Course" matTooltipPosition="above" matTooltipShowDelay="1000"  (click)="handleCourseUnregisterPress(sc.student.id ?? -1, course.id ?? -1)">
                                    <mat-icon aria-hidden="false" aria-label="Unregister Student" fontIcon="close"/>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    @if(showConfirmation) {
        <app-confirmation-modal (response)="handleConfirmResponse($event)">
            <div class="confirmation-text">
                <span>{{"Are you sure you want to unregister the student from the following course: "}}</span>
                <div>
                    <div><strong>Student:</strong> {{getUnregisterStudentCourse()}}</div>
                    <div><strong>Course:</strong> {{getUnregisterCourse()}}</div>
                </div>
            </div>
        </app-confirmation-modal>
    }
    @if(showStudentConfirmation) {
        <app-confirmation-modal (response)="handleStudentConfirmResponse($event)">
            <div class="confirmation-text">
                <span>{{"Are you sure you want to unregister the student from the following courses: "}}</span>
                <div>
                    <div><strong>Student:</strong> {{getUnregisterStudent()}}</div>
                    <div>
                        <strong>Courses:</strong> 
                        @for(cc of getAllUnregisterStudentCourses(); track cc.id) {
                            <div>[{{cc.courseNumber}}] {{cc.courseName}}</div>
                        }
                    </div>
                </div>
            </div>
        </app-confirmation-modal>
    }
</div>
